.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 170px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Menu{
  margin: 0;
  padding: 0;
  list-style: none;
}

.Menu li{
  display: inline-block;
  padding-right: 10px;
}

.Menu li a{
  color: white;
  text-decoration: none;
}
.Menu li a:hover{
  color: #ccc;
  text-decoration: none;
}